.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  //height: fit-content;
  overflow: clip;
}

.image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 16px;
  width: 100%;
}

.spacer {
  min-width: 16px;
  min-height: 16px;
  flex: 1 1 auto;
}

.date {
  margin-left: 16px;
}

.email {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;

  img {
    max-width: 80vw;
    max-height: 50vh;
  }
}

.next-button {
  margin: 16px;
}

.lorem-container {
  margin: 16px;
  flex: 1 1 auto;
  max-width: 50%;
}

.lorem {
  text-wrap: wrap;
  width: fit-content(50%);
}

footer {
  margin: 16px;
  width: 100%;
}
